@use '../abstracts' as a;

h1, h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: a.rem(25);
}

p{
    margin-top: 0;
    line-height: 2;
    font-size: a.rem(15);
}

h5 {
    font-size: clamp(a.rem(6), a.rem(13) + 2vw, a.rem(16));
    font-weight: 400;
}